h1{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR484SOwNLuZ2YSuKURE4XKjvbRRUuHH9w6JOJU3Db4cA&s');
    background-size: cover;
    background-repeat: no-repeat;
}